.main{
    height: 100vh;
    width: 100%;
    background-color: #F2ECBE;
    font-family: Arial, Helvetica, sans-serif;
}
.planner{
    height: 30rem;
    width: 25%;
    position: absolute;
    left: 7%;
    top: 15%;
    border-radius: 2%;
    background-color: #e2c799c4;
    padding: 0.8rem;
    box-shadow: 0.1rem 0.1rem 1rem #C08261;
}
.journey{
    display: flex;
    border-bottom-width: 5rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
    color: #9A3B3B;
    align-items: center;
}
.journey img{
    height: 3rem;
    width: 3.4rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
}
.src_ip{
    display: block;
    width: 100%;
    height: 2.3rem;
    border-radius: 0.25rem;
    border-color: #9A3B3B;
}
.show_lbl{
    font-weight: 500;
    color: red;
}
.note{
    font-weight: 500;
    font-size: 1.5rem;
}
.shortest{
    margin: 2rem 0;
}
.short_rt img{
    height: 3.2rem;
    width: 3.2rem;
    margin-right: 2rem;
}
.short_rt{
    display: flex;
    align-items: center;
    border-top:rgba(255, 0, 0, 0.687) 1px solid;
    border-bottom:rgba(255, 0, 0, 0.685) 1px solid;
    padding: 0.3rem 0;
}
.short_rt p{
    color: #9A3B3B;
}
.short_rt:hover{
    cursor: pointer;
}
.bt_sub{
    position: absolute;
    left: 25%;
}