.main{
    
    height: 100vh;
    width:100%;
    background-image: url("pics/metro_rail1.jpg");
    background-size: cover;
    padding: 0.1rem;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
/* 1rem-> 14.5rem */
.sidebar {
    height: 100%;
    width: 11rem;
    font-size: 1.5rem;
    padding: 9rem 0.5rem;
    background-color: #af9ebb5b;
    border-radius: 0.5rem;
}
.sider{
    width: 10rem;
    text-decoration: underline;
    margin-bottom: 2rem;
    color: #ffd89d;
    text-align: center;
    transition: all 0.2s ease-out;
}
.sider a{
    text-align: center;
    color:#ffd89d;
}
.sider:hover{
    transform: scale(1.1);
    border-radius: 0.6rem;
    box-shadow: 0.3rem 0.5rem 1rem #aca1dd;
    color: #026168;
    background-color: #988ac5;
}
.sider a:hover{
    color: #026168;
}
.banner {
    color: #ffd89d;
    text-align: center;
    height: 30%;
    width: 60%;
    position: absolute;
    left: 18%;
    padding: 7rem 1.5rem;
}

.banner h1 {
    font-size: 3rem;
    margin: 0;
}

.banner p {
    font-size: 1.5rem;
    margin: 0.7px 0;
}